html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET END */

html , body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-image:url('../img/stars.png');
	background-repeat:repeat;
	background-attachment:scroll;
	background-position:top;
	text-align: center;
	background-color: #000000;
}

/*#content {
	height: 730px;
	width: 1140px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: left;
}*/

/*#flashbackground {
	background-image:url('../img/flash-bg.jpg');
	background-repeat:no-repeat;
	width: 691px;
	height: 563px;
	margin: 0 auto;
	padding: 40px 0 0 51px;
}*/

#flashcontainer {
	width: 1140px;
	height: 730px;
	background-color: red;
	xfloat: left;
	background: red;
}

#floater {
	float:left;
	height:50%;
	margin-bottom:-365px;
}

#content {
	clear:both;
	position:relative;
	height: 730px;
	width: 1140px;
	margin: 0 auto;
	
}
